* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: normal .80em Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
	background: #ccc;
	color: #333;
	min-width: 1100px;
	margin: 30px 0;
}

h1 {
	font: bold 175% Verdana, Helvetica, Arial, sans-serif;
	color: #fff;
	margin: 20px;
}

/* wrapper holds left faux column tab */
/* nn6/7 will put content out of scrollable reach if auto is used unless the min-width is on body */
#wrapper {
	text-align: left;
	width: 90%;
	margin: 0 auto;
}

#header,#subnav,#footer {
	clear: both;
	width: 100%;
	background: #0b2a51;
}

#header {
	padding: 1px 0;
	height: 70px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}

#footer {
	text-align: center;
	padding: 1px 0;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding: 1px 0;
	color: #fff;
}

#contentfloatholder { /* right faux column tab */
	float: left;
	width: 100%;
	background-color: #fff;
}

#contentfloatholder:after { /* this is for NN6 to clear floats */
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

#center {
	margin: 0 50% 0 20px;
	padding: 0 55px 20px 0;
}

#centerwrap {
	float: left;
	width: 100%;
	margin: 0 -95% 0 0;
}

#right {
	background-color: #fff;
	float: right;
	width: 50%;
	padding: 0 20px 20px 20px;
}

#header_text{
	float: left;
}
#header_logo{
	float: right;
	margin: 8px 20px 5px 0px; 
}

.stamp {
	/*text-shadow: -1px -1px 0px #fff, 1px 1px 0px #fff;*/
}

#TUDLogo{
	
}

#submitButton {
	width: 350px;
}

#submit_div{
	margin-left: 5px;
}

#executable {
	width: 350px;
}


div hr {
	margin-top: 20px;
	height: 2px;
	border: 0;
	background-color: #9CA0A3;
	height: 2px;
}

/*input:not([type="file"]) {
	color: #1F1F1F;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #7F9DB9;
	background-color: #FFFFFF;
	padding: 5px;
	width: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	
}*/



input[readonly="readonly"]{
	background-color: transparent;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

div[id="widget_processid"], div[id="widget_processtitle"]{
	width: 350px;
}

textarea[id="processabstract"]{
	max-width: 350px;
	min-width: 350px;
}

label[class="innerparam_label"] {
	display: inline-block;
	width: 160px;
}

select{
	border: 1px solid #7F9DB9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 1em Verdana, Helvetica, Arial, sans-serif;
}

div[id="executable"]{
	width: 200px;
}

/*.innerparam_label{
	width: 100px;
}*/

.smalllabel{
	width: 30px;
}

.innerparams label {
	width: 110px;
	padding: 0 0 0 50px;
	margin: 1px 0;
}

.innerparams label[for$="_Input"],.innerparams label[for$="_Output"] {
	padding: 0 10px 0 5px;
}

.property {
	/*margin: 5px 0;*/
	padding: 10px 0 10px 10px;
	border-style: dashed;
	border-color: #eee;
	border-width: 1px;
}

.innerparams_hr {
	margin-top: 10px;
	margin-bottom: 5px;
	height:4px;
	border: 0px;
	border-bottom: 1px dotted #eee;
	background-color: #fff;
}

input[id="numberofparams"]{
	width: 30px;
}

input[class~='activeDrag']{
	 background-color:#a3adb7;
}

input[id|="processinput"]{
	background-color: #EFFE82;
}

/*#loader { 
	padding:0;
	margin:0;
	position:absolute; 
	top:0; left:0; 
	width:100%; height:100%;  
	background:#ededed; 
	z-index:999;
	vertical-align:middle;

}
#loaderInner {
	padding:5px;
	position:relative; 
	left:0;
	top:0; 		
	width:235px; 
	background:#99f; 
	color:#fff; 			
}*/

 #loader {
   background: #ccc;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 999;
  }
 
  #loaderInner {
    /*-webkit-box-shadow: -1px 1px 5px #888;
    background-color: #FFFFCB;
    color: #c99800;
    display: table;
    font-size: 16px;
    padding: 5px 13px;
    text-align: center;*/
  }

.error {
	/* supply height to ensure consistent positioning for every browser */
	height: 15px;
	background-color: #FFFE36;
	border: 1px solid #E1E16D;
	font-size: 11px;
	color: #000;
	padding: 3px 10px;
	margin-left: -2px;
	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-box-shadow: 0 0 6px #ddd;
	-webkit-box-shadow: 0 0 6px #ddd;
}

/************* IE Mac CSS Only  works for Win too **************/
* html div#centerwrap {
	margin: 0 -100% 0 0;
}

* html div#left {
	margin: 0;
}

div h3,div p {
	margin: 1em 0;
	padding: 0 20px;
}