/*a smaller +-tab with rounded top-right corner*/
div[widgetid="tc_run_env_tablist_tab_plus"] > div {
	-moz-border-radius: 2px 20px 0 0 !important;
	border-radius: 2px 20px 0 0 !important;
}

div[widgetid="tc_run_env_tablist_tab_plus"] > div > div {
	min-width: 15px !important;
	-moz-border-radius: 2px 20px 0 0 !important;
	border-radius: 2px 20px 0 0 !important;
}

div[widgetid^="Run_Env_Container_tablist_Run_Env_"] > div > div {
	min-width: 30px !important;
}

div[widgetid^="Run_Env_Container_tablist_"] > div > div {
	max-height: 20px !important;
}

div[id="tc_run_env_tablist_tab_plus"] {
	-moz-border-radius: 2px 20px 0 0 !important;
	border-radius: 2px 20px 0 0 !important;
}

img[src="images/del.png"] {
	position:relative;
	top: 3px;
	left: 5px;
}

img[src="images/add.png"] {
	position:relative;
	top: 3px;
}

select{
	width: 300px;
}

#Run_Env_Container {
	width: 350px;
	height: auto;
}
